# Analysis of Historical S&P prices

### Dec 29, 1927 - Present
#### https://www.wsj.com/market-data/quotes/index/SPX/historical-prices

##### Reading Data

In [55]:
import pandas as pd

df_uncleaned = pd.read_csv('HistoricalPrices.csv')
df_uncleaned.head()

       Date     Open     High      Low    Close
0  11/30/22  3957.64  4080.11  3938.58  4080.11
1  11/29/22  3964.19  3976.77  3937.65  3957.63
2  11/28/22  4005.36  4012.27  3955.77  3963.94
3  11/25/22  4023.34  4034.02  4020.76  4026.12
4  11/23/22  4001.02  4033.78  3998.66  4027.26

#### Cleaning Data

In [180]:
import datetime

df = pd.DataFrame({"Month": [], "Day": [], "Year": [], "Day_Of_Week": [], "Avg_Daily_Cost": []})
df_uncleaned.columns = df_uncleaned.columns.str.replace(' ', '') # Clean bad col names
for i in range(len(df_uncleaned)):
    dt = df_uncleaned["Date"][i]
    month, day, year = (int(x) for x in dt.split('/'))
    if year < 50 and year >= 10:
        year = int("20" + str(year))
    elif year < 10 and year > 0:
        year = int("200" + str(year))
    elif year < 100 and year > 50:
        year = int("19" + str(year))
    else:
        year = 2000
    df.loc[i, "Month"] = month
    df.loc[i, "Day"] = day
    df.loc[i, "Year"] = year
    df.loc[i, "Day_Of_Week"] = int(datetime.datetime(year, month, day).weekday())
    df.loc[i, "Avg_Daily_Cost"] = (df_uncleaned.loc[i, "High"] - df_uncleaned[i, "Low"]) / 2
df["Month"] = df["Month"].astype(int)
df["Day"] = df["Day"].astype(int)
df["Year"] = df["Year"].astype(int)
df["Day_Of_Week"] = df["Day_Of_Week"].astype(int)
df = pd.concat([df, df_uncleaned.iloc[:, 1:5]], axis = 1)
df.head()

KeyError: 'High'

In [176]:
df.groupby(['Day_Of_Week']).mean()

,Month,Day,Year,Open,High,Low,Close
Day_Of_Week,,,,,,,
0,6.651119,15.743937,1999.828825,1137.372864,1143.739356,1130.077603,1137.345205
1,6.506253,15.775334,1999.979733,1147.880492,1154.720211,1140.539806,1147.968008
2,6.509905,15.776916,1999.952627,1146.126878,1153.132752,1138.805551,1146.304599
3,6.422554,15.598069,1999.959193,1145.844076,1152.884691,1138.158653,1146.164590
4,6.546419,15.807250,1999.957118,1145.313537,1151.870004,1137.748793,1145.371317

In [177]:
df.groupby(['Month']).mean()

,Day,Year,Day_Of_Week,Open,High,Low,Close
Month,,,,,,,
1,16.572503,1999.715360,2.067669,1101.247766,1107.805081,1093.425843,1101.205070
2,14.439166,1999.981460,2.104287,1122.601553,1129.472885,1115.227370,1122.876860
3,15.882353,2000.016227,1.977688,1123.229828,1131.162343,1114.591542,1123.525953
4,15.671690,2000.031216,1.927879,1137.747320,1144.358192,1130.285199,1137.771862
5,15.426919,1999.969506,2.093586,1137.782639,1144.358055,1130.240221,1137.934164
6,15.497404,1999.982347,2.000000,1146.641350,1152.907529,1139.486604,1146.252004
7,16.570978,1999.991588,2.002103,1156.626057,1162.982850,1150.169842,1157.597897
8,16.005015,2000.005015,1.997994,1168.706891,1175.102548,1161.931073,1168.730502
9,16.072210,2000.041575,2.096280,1165.266422,1172.027932,1157.148479,1164.488414
10,15.970825,1999.932596,2.001006,1149.926026,1157.926348,1141.494618,1150.322384
11,15.040305,2000.062092,1.953159,1187.991373,1194.686220,1180.997941,1188.512288
12,15.590958,1999.508073,1.996771,1135.902002,1142.004995,1129.426060,1135.930904